<p>
  tree works!
</p>


<table>
  <thead>
    <tr>
      <th>
        <button [disabled]="currentItem == undefined" (click)="back()">
          back
        </button> 
        Current Node: {{ currentItem?.label }}
      </th>
    </tr>

  </thead>

  <tbody>
    <tr *ngFor="let item of showData">
      <td>
          <input type="checkbox" [checked]="item?.checked" (change)="changeStatus(item, $event)"/>

          {{ item.label }}
    
          <button *ngIf="item.children != undefined" (click)="showChildren(item)">
            >
          </button>
      </td>
    </tr>
  </tbody>

</table>


<br> <br>

SELECTED ITEMS
<div *ngFor="let item of selectedItems"> 
  {{ item.label }}
</div>

